* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}



body , html{
    background: #070707;
    overflow: hidden;
    font-family: Georgia, serif;
}

.full-page {
    width: 100%;
    height: 100vh;
}

.logo {
    position: fixed;
    left: 15vh;
    top: 10vh;
}
h1{
    color: #FF9900;
    font-family: "Press Start 2P";
    font-size: 3em;
    text-align: center;
    margin-top: 3vh;

    -webkit-animation: neon4 1.2s ease-in-out infinite alternate;
    -moz-animation: neon4 1.2s ease-in-out infinite alternate;
    animation: neon4 1.2s ease-in-out infinite alternate;
  }

  @-webkit-keyframes neon4 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
    }
  }
  

.img{
    position:absolute;
    margin:auto;
}



.flech{
    margin-left: 37%;
    margin-top: 42%;
    width:20vh;
    cursor: pointer;
}

.flechg{
    margin-left: 20%;
    margin-top: 42%;
    width:20vh;
    cursor: pointer;
}

.main-title h2 {
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    top: 20vh;
    text-align: center;
    color: rgb(14, 13, 13);
    font-size: 120px;
    font-style: italic;
    opacity: .2;
}

.main-title h2::after {
    content: 'Selectedwork';
     color: transparent;
    -webkit-text-stroke: .2px #0e0d0d;
    left: 0;
    top: 20px;
    position: absolute;
}

.swiper-container {
    z-index: 3;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.swiper-slide {
    width: 75%;
    position:relative;

}

.swiper-wrapper {
    transition-delay: .5s;
}


.port-img img {
   width: 100%;
   overflow: hidden;
   border-radius: 15px;

}
.port-img::after {
    content: '';
    border-radius: 15px;
    width: 100%;
    height: calc(100% - 4px);
    background-image: -moz-linear-gradient( 0deg, rgb(36, 35, 35) 0%, rgb(36, 35, 35) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(37, 37, 37) 0%, rgb(37, 37, 37) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(31, 30, 30) 0%, rgb(31, 30, 30) 100%);
    mix-blend-mode: multiply;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all 1s ease-in-out;
}

.port-img:hover::after {
    opacity: .2;
}
.port-text {
    position: absolute;
    top: 50%;
    margin-left: -80px;
    transform: translateY(-50%);
    z-index: 2;
    overflow: hidden;
    width: 100%;
    height: 50px;
}

.port-text h4 {
    color: #fff;
    font-size: 40px;
    position: relative;
}

.port-text h4 span {
    position: absolute;
    height: 50px;
}

.hackers{
    color:rgb(202, 18, 18);

}


.infos{
    display: none;
    position:absolute;
    top:93%;
    padding-top: 2%;
    padding-right: 50%;
    opacity: 90%;
    margin-left:-200px;
    
    color:white;
    background-color:rgb(12, 12, 12);
    max-width: 190vh;
    border-radius: 5px;

}
.swiper-slide:hover .infos{

    display: block;
    transform: translateX(200px); /* On déplace l'objet */
   

}


  
  



